<% layout("layout/boilerplate") %>
    <link rel="stylesheet" href="css/home.css">
    <div class="container">
        <div class="row">
            <div class="details">
                <h1 class="text-center">WELCOME</h1>
                <p>Biometric Attendance systems are commonly used systems to
                    mark the presence in offices and schools. This project has a wide
                    application in school, college, business organization, offices where
                    marking of attendance is required accurately with time. By using the
                    fingerprint sensor, the system will become more secure for the users</p>
                <a href="/students"><button class="btn btn-dark">Got to Details</button></a>
            </div>
        </div>
    </div>