@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1499428665502-503f6c608263?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.details {
    margin-top: 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.details p {
    background-color: rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: transparent;
}